<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.youssefsapplication.app" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:largeHeap="true"
        android:name="com.youssefsapplication.app.appcomponents.di.MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/Theme.MyApp" android:usesCleartextTraffic="true">
        <activity
            android:name="com.youssefsapplication.app.modules.enseignant.ui.EnseignantActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.youssefsapplication.app.modules.ajoutclasse.ui.AjoutClasseActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.youssefsapplication.app.modules.ajoutetudiant.ui.AjoutEtudiantActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.youssefsapplication.app.modules.dashboardadmin.ui.DashboardAdminActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.youssefsapplication.app.modules.etudiant.ui.EtudiantActivity" android:screenOrientation="portrait"/>
        <activity android:exported="true"
            android:name="com.youssefsapplication.app.modules.authmain.ui.AuthMainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.youssefsapplication.app.modules.searchcourse.ui.SearchCourseActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.youssefsapplication.app.modules.ajoutenseignant.ui.AjoutEnseignantActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.youssefsapplication.app.modules.profile.ui.ProfileActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.youssefsapplication.app.modules.ajoutclub.ui.AjoutClubActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.youssefsapplication.app.modules.authorprofile.ui.AuthorProfileActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>
